header.header
  .nav-container
    a.logo(href="#") eDemy

    .search-box
      input.search-input(type="text" placeholder="Search for anything")
      button.search-btn
        i.fa.fa-search(aria-hidden="true")

    nav
      ul.nav-menu
        li.nav-item
          a.nav-link(href="/") Home
        li.nav-item.dropdown
          a.nav-link(href="#")
            | Courses 
            i.fa.fa-angle-down(aria-hidden="true")
          .dropdown-menu
            .dropdown-header
              h3.dropdown-title Courses
            ul.dropdown-list
              li.dropdown-item
                a.dropdown-link(href="/courses") Tất cả khóa học
              li.dropdown-item
                a.dropdown-link(href="#") Courses Style 2
              li.dropdown-item
                a.dropdown-link(href="#") Courses Style 3
              li.dropdown-item
                a.dropdown-link(href="#") Courses Style 4
        li.nav-item
          a.nav-link(href="#")
            | Pages 
            i.fa.fa-angle-down(aria-hidden="true")
        li.nav-item
          a.nav-link(href="#")
            | Blog
            i.fa.fa-angle-down(aria-hidden="true")
        li.nav-item
          .cart-icon
            i.fa.fa-cart-plus(aria-hidden="true")
            span.cart-badge 0
        li.nav-item
          a.login-btn(href="#")
            i.fa.fa-user(aria-hidden="true")
            |  Login/Register